*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/jsFiles.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aar
*.kmdf
*.kwd
*.vmd
*.appx
*.msi
*.msix
*.msixbundle
*.appxbundle
/app/build
